.group:after {
  content: "";
  display: table;
  clear: both;
}

.search-bar {
  width:100%
}

.bars-con {
  min-height:500px;
}

.bars {
  /*background-color: #F2F2F2;*/
  padding:0 5px 0 5px;
}

.bar {
  padding:0 0 1rem 0;
  min-height:175px;
  border-bottom: 1px solid lightgrey;
}

.bar-img-con{
  width:20%;
  max-width:100px;
  float:left;
  margin-top:8px;
}

.bar-img {
  width:100%;
  vertical-align:middle;
  margin-top:10px;
  border: 1px solid black;
}

.bar-right {
  float:left;
  width:80%;
  padding-left:3%;
}

.bar-title-row {
  float:left;
  width:80%;
}

.bar-title {
  display:inline-block;
  margin-right:15px;
}

.bar-rating {
  display:inline-block;
}

.rating {
  width:70px;
  vertical-align:baseline;
}

.bar-snippet {
  float:left;
  width:80%;
  padding-right:10px;
}

.going {
  width:20%;
  float:left;
  text-align:center;
}

.going .btn {
  width:80px;
  padding:0px;
}

.going-count {
  font-weight:bold;
  text-align:center;
  padding-bottom:.5rem;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .going {
    float:none;
    width:100%
  }
  
  .going-count {
    float:left;
    width:30%;
    line-height:36px;
    text-align:left;
  }
  
  .going .btn {
    float:left;
  }
  
  .bar-snippet {
    width:100%;
  }
}

/*Spinner - http://tobiasahlin.com/spinkit/*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #26a69a;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinner.hidden {
  display:none;
}