each val in results
    .bar.group
        .bar-img-con
            img.bar-img(src= val.image_url )
        .bar-right
            .bar-title-row
                .bar-title
                    h4= val.name
                .bar-rating
                    img.rating(src= val.rating_img_url)
            .snippet-con
                .bar-snippet 
                    p= val.snippet_text
                .going
                    .going-count
                        span.visitor-count(id= val.id) #{val.visitorCount}
                        span  going
                    if !user
                        a.btn.modal-trigger.bar-button(href='#modal1') I'm In
                    else 
                        if user.barsVisiting.indexOf(val.id) < 0
                            .btn.bar-button.logged-in(id= val.id) I'm In
                        else 
                            .btn.bar-button.logged-in.red(id= val.id) I'm In
                    