each val in results.businesses
    .bar.group
        .bar-img-con
            img.bar-img(src= val.image_url )
        .bar-right
            .bar-title-row
                .bar-title
                    h4= val.name
                .bar-rating
                    img.rating(src= val.rating_img_url)
            .snippet-con
                .bar-snippet 
                    p= val.snippet_text
                .going
                    .going-count 17 going
                    .btn.bar-button(id= val.id) I'm In