extends ./layout.jade

block headerContent
    .text-vertical-center
      h1 Vida Nocturna
      h3 Coordinate with Friends for A Great Night
      br
      a.btn.btn-dark.btn-lg(href='#GetStarted') Get Started
      br
      br
      #login-btn-con
        .btn.btn-dark.btn-lg.login-button Login

block content
    .container
        .row
            
            a(name='GetStarted')
            form#location-search
                .input-field.col.m6.offset-m3.location-search
                    input#location-input.validate(placeholder='Location', type='text', required='', aria-required='true' name='location')
                    button#location-search-btn.btn.search-btn(type='submit', value='Submit') Search
        .row.bars-con
            .spinner.hidden
                p Loading
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            #bars.bars
        
        
    // Modal Structure
    #modal1.modal
      .modal-content
        h4 Login
        p Please login to choose your venues.
      .modal-footer
        #login-btn-con
            .btn.btn-dark.btn-lg.login-button Login
block bottomScripts
    script(src='controllers/clientController.js')
